{% block cms_contents_widget %}
    <div class="panel-group" id="contents_collapse" role="tablist" aria-multiselectable="true">
        {% for item in form.children %}
            <div class="panel">
                <div class="panel-heading" role="tab" id="heading_{{ loop.index }}">
                    <div class="align-left">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapse_{{ loop.index }}"
                               aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
                                {{ item.label.vars.value }}
                            </a>
                            {% if item.vars.value.help is not empty %}
                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                                   title="{{ item.vars.value.help }}"></i>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="align-right">
                        {% if role_admin %}
                            <div class="info">
                                {% if item.type is defined %}
                                    {{ choice_label(item.type.vars.choices, item.type.vars.value) }}
                                {% endif %}
                                {% if item.code is defined %}
                                    <code>{{ item.code.vars.value }}</code>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="enable">
                            {{ form_widget(item.active) }}
                        </div>
                        <div class="btn_arrow">
                            <button type="button" class="class btn btn-default btn-sm collapsed" data-toggle="collapse"
                                    data-target="#collapse_{{ loop.index }}" aria-expanded="true"
                                    aria-controls="collapse_{{ loop.index }}">
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="collapse_{{ loop.index }}"
                     class="panel-collapse collapse {% if item.vars.value.collapseOpen %} in{% endif %}" role="tabpanel"
                     aria-labelledby="heading_{{ loop.index }}">
                    <div class="panel-body">
                        {% if item.parent_heritance is defined %}
                            <div class="inherit">
                                {{ form_widget(item.parent_heritance) }}
                            </div>
                        {% endif %}

                        {% if item.value is defined %}
                            {{ form_widget(item.value) }}
                        {% endif %}
                        {% if item.media is defined %}
                            {{ form_widget(item.media) }}
                        {% endif %}
                        {% if item.sharedBlockList is defined %}
                            {{ form_widget(item.sharedBlockList) }}
                        {% endif %}
                        <div style="display: none">
                            {{ form_widget(item.label) }}
                            {% if item.code is defined %}
                                {{ form_widget(item.code) }}
                            {% endif %}
                            {% if item.type is defined %}
                                {{ form_widget(item.type) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
