{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% import _self as tree %}
{% macro pages(pages, admin, declinationAdmin, rootPages) %}
    <ul{% if rootPages %} class="page-tree"{% endif %}>
        {% for page in pages %}
            <li>
                <div class="page-tree__item is-toggled" data-id="{{ page.id }}">
                    {% if page.children|length > 0  and page.parent %}<i class="fa fa-caret-right"></i>{% endif %}
                    <i class="fa page-tree__item__is-hybrid fa-{% if page.isHybrid %}gears{% else %}code{% endif %}"></i>
                    {% if page.lvl != 0 %}
                        <a class="label label-default pull-right treeMoveAction" data-toggle="tooltip" title="Déplacer" href="{{ admin.generateObjectUrl('move', page) }}"><i class="fa fa-arrows"></i></a>
                    {% endif %}

                    <a class="page-tree__item__edit" href="{{ admin.generateObjectUrl('edit', page) }}">{{ page.title }}</a>
                    {% if page.route != null %}
                        <i class="text-muted">{% if page.root.site.locale is not empty and not page.root.site.hostMultilingual %}/{{ page.root.site.locale }}{% endif %}{{ page.route.path }}</i>
                    {% endif %}
                    <a class="label label-default pull-right" data-toggle="tooltip" title="Editer" href="{{ admin.generateObjectUrl('edit', page) }}"><i class="fa fa-pencil"></i></a>
                    {% if not page.rootPage %}
                        <a href="{{ admin.generateObjectUrl('duplicate', page) }}" class="label label-default pull-right" title="+">
                            <i class="fa fa-copy" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <span class="label label-{% if page.isActive %}success{% else %}danger{% endif %} pull-right">Active</span>
                    {% if page.declinations.count > 0 %}
                        <span class="label label-primary pull-right declination-toggle">voir {{ page.declinations.count > 1 ? "les "~page.declinations.count : "la" }}  {{ page.declinations.count > 1 ? 'déclinaisons' : "déclinaison" }}</span>
                    {% endif %}
                    {% if app.user.hasRole('ROLE_ADMIN_CMS') and page.route is not null %}
                        <span><code class="pull-right">{{ page.route.name }}</code></span>
                    {% endif %}
                    {% if page.declinations.count > 0 %}
                        <div class="declinations">
                            <ul>
                                {% for declination in page.declinations %}
                                    <li>
                                        <div>
                                        <i class="fa fa-copy"></i>
                                        <a class="page-tree__item__edit" href="{{ declinationAdmin.generateObjectUrl('edit', declination) }}">{{ declination.title }}</a>
                                        {% if page.route != null %}
                                            <i class="text-muted">{% if page.site.locale is not empty and not page.site.hostMultilingual %}/{{ page.site.locale }}{% endif %}{{ declination.path }}</i>
                                        {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                {% import _self as macro %}
                {% if page.children|length %}
                    {{ macro.pages(page.childrenRight, admin, declinationAdmin, false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% extends base_template %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% block title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(15) }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block navbar_title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(100) }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12 sonata-filters-box" style="" id="filter-container-s5e399561d90a3">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-9">
                            <label for="treeSearch" class="col-sm-3 control-label">Rechercher</label>
                            <div class="col-sm-4">
                                <input id="treeSearch" type="search" placeholder="titre ou slug" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary js-search-result hidden" style="padding: 20px 15px ;"></div>
        {# Add a margin if no pager to prevent dropdown cropping on window #}
        <div class="pages-box box box-primary"{% if admin.datagrid.pager.lastPage == 1 %} style="margin-bottom: 100px;"{% endif %}>
            <div class="box-body{% if admin.datagrid.results|length > 0 %} table-responsive no-padding{% endif %}">
                <div class="box-header"></div>
                {% set pages = admin.datagrid.results %}
                <div class="box-content">
                    {{ tree.pages(pages, admin, declinationAdmin, true) }}
                </div>

            </div>
        </div>
    </div>
    {% include '@AjmCms/admin/nestedTreeMoveAction/moveModal.html.twig'%}
{% endblock %}
