#contents_collapse {
    &:first-child {
        border-top : 1px solid #dfdfdf;
    }

    .panel {
        border-radius : 0;
        margin        : 0;
        border-top    : none;
        border-color  : #dfdfdf;

        &-heading {
            border-radius   : 0;
            display         : flex;
            justify-content : space-between;

            .align-left {
                display         : flex;
                width           : 45%;
                justify-content : flex-start;
            }

            .align-right {
                display         : flex;
                width           : 45%;
                justify-content : flex-end;
            }

            .enable {
                width : 80px;
            }

            .info {
                align-self   : center;
                margin-right : 15px;
                padding-right: 10px;
                border-right: 1px solid #dddddd;
                //margin-left : auto;
            }

            .btn_arrow {
                align-self : center;
                //margin-left : auto;
                .collapsed {
                    i {
                        transform : rotate(180deg);
                    }
                }
            }
        }

        .inherit {
            .checkbox {
                label {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        &-title {
            align-self : center;
        }
    }
}
