{% extends base_template %}

{%- block actions -%}
    {% if admin.datagrid.results > 0 %}
        <li>
            <a class="sonata-action-element sonata-action-element__cms-menu" href="{{ admin.generateUrl('create', {target: admin.datagrid.results[0].id}) }}">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
            </a>
        </li>
    {% endif %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% block list_table %}
    {% set rootNodes = admin.datagrid.results %}
    <div class="col-xs-6 col-md-6">
        {% set label = false %}

        {% for rootNode in rootNodes %}
            {% set items = rootNode.children %}
            <div class="cmsMenuAdmin tab-pane" data-move-url="{{ url('admin_autojm_cms_cmsmenu_move', [], true) }}">
                {% for item in items if item.lvl == 1 and item.parent == rootNode %}
                    <div class="box box-primary">
                        <div class="box-header item-data" data-id="{{ item.id }}" data-edit-url="{{ admin.generateUrl('edit', {id: item.id}) }}" data-add-url="{{ admin.generateUrl('create', {target: item.id}) }}">
                            <h4 class="box-title">{{ item.name }} <code>{{ item.code }}</code></h4>
                            <button class="cms-menu-item__btn-edit"><i class="fa fa-pencil"></i></button>
                            <button class="cms-menu-item__btn-add"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="box-body">
                            {% set menu = knp_menu_get('cmsAdminMenu', [], {item: item, admin: admin}) %}
                            {{ knp_menu_render(menu, [], 'cms_menu_admin_renderer') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <br><br>
    </div>
    <div class="col-xs-6 col-md-6">
        <div class="edit-container" style="display: none">

        </div>
    </div>
    <script>
      var time = 100;
      $(document).ready(function () {
        $('#add_global_btn').on('click', function (e) {
          var url = $(this).data('url');
          var id = $('.menu-tab.active').data('id');
          showForm(url + '?target=' + id)
        })

      })

      function showForm (url) {
        setTimeout(function () {

          $.get(url, function (response) {
            $('.edit-container').empty().append(response);
            $('.edit-container').fadeIn();
          })
        }, time)
      }
    </script>
{% endblock %}
