{% if object is defined and cms_render_seo_smo_value(object, 'twitterCard') is not empty %}
	<meta name="twitter:card" content="{{ cms_render_seo_smo_value(object, 'twitterCard') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'twitterSite') is not empty %}
	<meta name="twitter:site" content="{{ cms_render_seo_smo_value(object, 'twitterSite') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'twitterTitle') is not empty %}
	<meta name="twitter:title" content="{{ cms_render_seo_smo_value(object, 'twitterTitle') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'twitterDescription') is not empty %}
	<meta name="twitter:description" content="{{ cms_render_seo_smo_value(object, 'twitterDescription') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'twitterCreator') is not empty %}
	<meta name="twitter:creator" content="{{ cms_render_seo_smo_value(object, 'twitterCreator') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'twitterImage') is not empty %}
	<meta name="twitter:image" content="{{ cms_render_seo_smo_value(object, 'twitterImage') }}">
{% endif %}

<!-- Open Graph data -->
{% if object is defined and cms_render_seo_smo_value(object, 'ogTitle') is not empty %}
	<meta property="og:title" content="{{ cms_render_seo_smo_value(object, 'ogTitle') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'ogType') is not empty %}
	<meta property="og:type" content="{{ cms_render_seo_smo_value(object, 'ogType') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'ogImage') is not empty %}
	<meta property="og:image" content="{{ cms_render_seo_smo_value(object, 'ogImage') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'ogDescription') is not empty %}
	<meta property="og:description" content="{{ cms_render_seo_smo_value(object, 'ogDescription') }}">
{% endif %}

{% if object is defined and cms_render_seo_smo_value(object, 'ogSiteName') is not empty %}
	<meta property="og:site_name" content="{{ cms_render_seo_smo_value(object, 'ogSiteName') }}">
{% endif %}

<meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
