{{ form_start(form) }}
{% form_theme form '@AjmCms/admin/nestedTreeMoveAction/ajm_cms_move_form.html.twig' %}
<div class="sonata-ba-collapsed-fields">
    {{ form_widget(form) }}
</div>
<div class="sonata-ba-form-actions form-actions">
    <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Mettre à jour</button>
    {% if form.vars.value is instanceOf('AutoJM\\CmsBundle\\Entity\\CmsMenuItem') %}
        <a href="{{ admin.parent.generateUrl('tree', {id: form.vars.value.menu.site.id, _tab: 'tab_' ~ form.vars.value.menu.code}) }}" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Annuler</a>
    {% else %}
        <a href="{{ admin.generateUrl('tree', {id: form.vars.value.root.site.id }) }}" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Annuler</a>
    {% endif %}
</div>
{{ form_end(form) }}
